In [16]:
import pandas as pd
import numpy as np
from p0_common import run_label_percentile

In [17]:
df = pd.read_csv('__filtered_result__\\normalies_df_last_two_eth_pc_change.csv')       #enable this for last two txn
#df = pd.read_csv('__filtered_result__\\normalies_df_f2l_eth_pc_change.csv')            #enable this for first to last txn
df = df.sort_values(['eth_pc_change'], ascending=True)

In [18]:
percentile_bins = [0,25,50,75,100]
percentile_cutoffs = np.percentile(df.iloc[:,1], percentile_bins)
print("\npercentile_bins:", percentile_bins, "\npercentile_cutoffs", percentile_cutoffs)

percentile_bins: [0, 25, 50, 75, 100]
percentile_cutoffs [-9.99999996e-01  9.51127820e-02  4.28313492e-01  2.27920693e+00
  7.00000000e+16]

In [19]:
#label with different pc_change cutoffs
blank = []
for n in [80]:
    bins = [0, n, 100]                         #Note: can adjust here if want to use different labelling
    label = ["0", "1"]                                   #Note: can adjust here if want to use different labelling
    result = run_label_percentile(df, bins, label, 1).reset_index(drop=True)
    blank.append(result['label'])

df_blank = pd.DataFrame(blank).T
final_labels_combinded = pd.concat([df['punk_id'], df_blank], axis=1)
final_labels_combinded.to_csv('mp_final_labels_combined.csv', index=False)
final_labels_combinded

percentile_bins: [0, 80, 100]
percentile_cutoffs [-9.99999996e-01  3.47368421e+00  7.00000000e+16]
Number of items in label 0: 3548
Number of items in label 1: 888

      punk_id label
0         0.0     0
1         1.0     0
2        14.0     0
3        53.0     0
4        89.0     0
...       ...   ...
4431   9976.0     1
4432   9979.0     1
4433   9980.0     1
4434   9982.0     1
4435   9990.0     1

[4436 rows x 2 columns]

In [20]:
#features
df_n = pd.read_csv('ip_df_without_noise.csv')
df_l = final_labels_combinded.copy()
con = df_l['punk_id'].tolist()
df_n = df_n[df_n['id'].isin(con) == True].reset_index(drop=True)

df_n.to_csv('mp_final_features.csv', index=False)
df_n

,id,num_attributes,Alien,Ape,Female,Male,Zombie,3D Glasses,Bandana,Beanie,...,Tassle Hat,Tiara,Top Hat,VR,Vampire Hair,Vape,Welding Goggles,Wild Blonde,Wild Hair,Wild White Hair
0,0,3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14,3,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,53,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,89,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4431,9976,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4432,9979,4,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4433,9980,4,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4434,9982,3,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4435,9990,2,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0