In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('df_last_two_txn.csv')

In [3]:
df = df.sort_values(['punk_id', 'block_time'], ascending=[True, False])

In [4]:
pd.to_datetime(df.block_time)

2       2018-11-30 07:32:35
1       2017-07-07 18:39:12
0       2017-06-23 22:56:29
5       2020-11-30 18:44:26
4       2019-04-06 05:21:51
                ...
16246   2021-03-20 11:18:36
16251   2021-10-28 23:50:37
16250   2021-08-11 04:05:28
16249   2021-03-03 20:01:27
16248   2020-12-27 00:02:55
Name: block_time, Length: 16252, dtype: datetime64[ns]

In [5]:
df['previous'] = pd.to_datetime(df.block_time).shift(periods=-1, fill_value=0)
df['holding_period'] = (pd.to_datetime(df.block_time)-df.previous)/np.timedelta64(1, 'M')
df['holding_period'] = df['holding_period']#.astype(int)
df = df.drop_duplicates(subset=['punk_id'], keep='first')
df

C:\Users\hungh\AppData\Local\Temp/ipykernel_20220/2590318526.py:1: FutureWarning: Passing <class 'int'> to shift is deprecated and will raise in a future version, pass Timestamp instead.
  df['previous'] = pd.to_datetime(df.block_time).shift(periods=-1, fill_value=0)

,Unnamed: 0,punk_id,unit_in_eth,unit_in_usd,block_time,tx_hash,seller,buyer,previous,holding_period
2,2065,0.0,25.000000,2.919250e+03,2018/11/30 07:32:35,5687d030ddf9059d8098f6095e679085dd153ceb6d5b2f...,f5099e196469257c0d457e896a648d5f616af034,e08c32737c021c7d05d116b00a68a02f2d144ac0,2017-07-07 18:39:12,16.773636
5,5926,1.0,60.000000,3.617100e+04,2020/11/30 18:44:26,f4af5563f3c4c3b26dee3ab027902f113bee5985b28d9e...,ee3766e4f996dc0e0f8c929954eaafef3441de87,cf6165e56c3383978f6eaaf58b314af41569c0f0,2019-04-06 05:21:51,19.862662
8,2093,14.0,2.500000,2.355000e+02,2018/12/07 19:47:12,9d9c29a495c916517d01a61783016282296f6659d1f9a0...,582fa78399f03501802beff5b2ea2d0612c9a9e5,7c00c9f0e7aed440c0c730a9bd9ee4f49de20d5c,2017-07-17 06:26:06,16.708559
11,15613,53.0,129.990000,4.336934e+05,2021/08/23 16:25:14,07f01b87741a174230103ddc87366c4802060d9e9dc052...,b813c62ad216a274057cd602ad754e3ac8b914a6,e203882039bf2ae11fa04f52e885bde164d17112,2021-02-19 17:37:05,6.076514
14,4717,89.0,19.990000,6.800998e+03,2020/09/06 15:32:11,7d697feb5c3d569df9d6d7af7050d9ddd2fc25de5154e7...,e8723d26ad5f7ff4ea8902d235f0a8f8b8802f6d,78f0269f5b1ca914c8c58993f41181f89e212b27,2020-05-28 02:59:51,3.335508
...,...,...,...,...,...,...,...,...,...,...
16237,5492,9979.0,5.000000,1.824050e+03,2020/09/28 15:55:23,5253c241b631be7486fe7f7b914d2d948778529a7aaa62...,7aadcc0ccf292dedb7deb8d58a0fcf6b957f4322,e113e7b1e8ecd07973ea40978aed520241d17f27,2020-05-20 09:33:53,4.312694
16243,15058,9980.0,55.000000,1.816111e+05,2021/08/14 00:51:31,2bba84560640fed36eed808115fb7c9b086f47bb5ede6a...,b5e6acc6cbb5d712a96fcc7a8fe25a69f10ecf4c,fad116147b0616dd6743a93a6ad8da807da766cd,2021-07-31 14:22:41,0.441461
16245,17037,9982.0,135.000000,4.041887e+05,2021/09/30 17:41:33,19abec38fcc306f1df3588036a2bce101219d81ac2df7a...,e1d29d0a39962a9a8d2a297ebe82e166f8b8ec18,023ef73d4c6de80dd3e52b8aae579b8f0e5cbeb4,2021-08-28 14:07:05,1.089104
16247,15081,9990.0,0.000009,2.829974e-02,2021/08/15 07:18:40,765b8e9974d8f16b3c13873623040b6b817523964ded9f...,ddfdcb21c935e8432a559cf689c83695b27a4177,3689df917b622d8c35e01577bde8198b7e79b83d,2021-03-20 11:18:36,4.857049
16251,17381,9998.0,124457.067525,5.322431e+08,2021/10/28 23:50:37,92488a00dfa0746c300c66a716e6cc11ba9c0f9d40d8c5...,8e398349ee56c198885dde7344fab86d65bd4278,9b5a5c5800c91af9c965b3bf06ad29caa6d00f9b,2021-08-11 04:05:28,2.589721

In [6]:
df = df[df['holding_period'] == 0]
df

,Unnamed: 0,punk_id,unit_in_eth,unit_in_usd,block_time,tx_hash,seller,buyer,previous,holding_period
12475,15899,7905.0,90.0,279667.8,2021/08/27 02:42:41,5519023342071b30604a83e8aad16608d76608a996fa5f...,aaf9c3e74f97c6892c4e8755851328ce508952ae,1919db36ca2fa2e15f9000fd9cdc2edcf863e685,2021-08-27 02:42:41,0.0