In [44]:
import pandas as pd
import numpy as np
from p1_data_cleaning import op_clean

In [45]:
#positive/negative %
xf = pd.read_csv('__filtered_result__\\normalies_df_last_two_eth_pc_change.csv')
xv = xf.copy()
xf = xf[xf['eth_pc_change'] > 0].values.tolist()
print(len(xf))
xv = xv['eth_pc_change'].values.tolist()
print(len(xv))
print(len(xf)/len(xv))

3907
4437
0.8805499211178724

In [46]:
#monalisa level
ab = pd.read_csv('__filtered_result__\\normalies_df_last_two_eth_pc_change.csv')
txn_count = pd.read_csv('mp_txn_frequency_in_each_punk.csv')

def run_remove_anomalies(file, column_num, percentile):
    p1_threshold = np.percentile(file.loc[:,column_num], 100-percentile)  #2 stdev (5%) for anomalies
    top_x = file[(file.loc[:,column_num] > p1_threshold)]
    return top_x

top_10_percentile = run_remove_anomalies(ab, 'eth_pc_change', 10)
monalisa = pd.merge(top_10_percentile, txn_count, on='punk_id')
monalisa

     punk_id  eth_pc_change  txn_num
0        0.0      14.625000        3
1      627.0      51.000000        4
2      861.0      44.333333        5
3      992.0      44.000000        2
4     1027.0      18.332667        3
..       ...            ...      ...
217   9886.0      24.000000        2
218   9895.0      16.931034        3
219   9916.0      34.789474        2
220   9931.0      54.555556        3
221   9938.0      47.148148        3

[222 rows x 3 columns]

In [47]:
# list out all txn frequencies
#df_list = sorted(monalisa['txn_num'].unique().tolist())
df_list = txn_count.groupby('txn_num').count().reset_index()
df_list = df_list[df_list['txn_num'] != 1]
df_list['pct']= df_list['punk_id']/df_list['punk_id'].sum()            #cal percentage
df_list.rename({'punk_id': 'count'}, axis=1, inplace=True)
print("\ntxn frequencies")
print(df_list, "\n")

# txn frequencies count
df2 = monalisa.groupby('txn_num').count().reset_index()                      
df2['pct']= df2['punk_id']/df2['punk_id'].sum()            #cal percentage
df2.rename({'punk_id': 'count'}, axis=1, inplace=True)
print("\ntxn frequency table\n", df2)

txn frequencies
    txn_num  count       pct
1         2   1297  0.324818
2         3    980  0.245430
3         4    683  0.171049
4         5    421  0.105435
5         6    257  0.064363
6         7    159  0.039820
7         8    105  0.026296
8         9     47  0.011771
9        10     19  0.004758
10       11     10  0.002504
11       12      5  0.001252
12       13      6  0.001503
13       14      3  0.000751
14       16      1  0.000250


txn frequency table
    txn_num  count  eth_pc_change       pct
0        2    118            118  0.531532
1        3     57             57  0.256757
2        4     30             30  0.135135
3        5     11             11  0.049550
4        6      3              3  0.013514
5        7      1              1  0.004505
6        8      1              1  0.004505
7        9      1              1  0.004505